%h1 Listing devices

%table
  %thead
    %tr
      %th Name
      %th Category
      %th
      %th
      %th

  %tbody
    - @devices.each do |device|
      %tr
        %td= device.name
        %td= device.category
        %td= link_to 'Show', device
        %td= link_to 'Edit', edit_device_path(device)
        %td= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Device', new_device_path
