%p#notice= notice

%p
  %b Name:
  = @device.name
%p
  %b Category:
  = @device.category
%p
  %b Sensors:
  #device_sensors
    = render 'sensors/sensors_table', sensors: @device.sensors


= link_to 'Edit', edit_device_path(@device)
\|
= link_to 'Back', devices_path
