= form_for @sensor do |f|
  - if @sensor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sensor.errors.count, "error")} prohibited this sensor from being saved:"
      %ul
        - @sensor.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :value
    = f.text_field :value
  .field
    = f.label :device_id
    = f.number_field :device_id
  .actions
    = f.submit 'Save'
