%tr
  %td= sensor.name
  %td= sensor.value
  %td= link_to 'Show', sensor
  %td= link_to 'Edit', edit_sensor_path(sensor)
  %td= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' }
